*{
    margin: 1px;
    padding:1px;
 
}
h2{
    color: rgb(0, 0, 0);
    font-family: 'Lobster', 'cursive';
    font-size: 40px;
}
.banner {
    width: 100%;
    height: 100%;
}
.navbar{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    font-family: 'Hind Siliguri', sans-serif;
}
.navbar ul li a {
    text-decoration: none;
    color:rgb(8, 8, 8);
    text-transform: uppercase;
    float:right;
}
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after {
    width: 100%;
}

p {
    font-family: 'Hind', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.liverpool-banner {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bolder;
    font-family: 'Lobster', 'cursive';
    color: white;
  }

.outer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.liverpool-intro {
    text-align: justify;
}

.liverpool-flex-container {
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-family: 'Hind', sans-serif;
  }

  .row-food {
      width: 600px;
      height: 300 px;
      padding: 20px 40px 20px 40px;
      margin: 10px;
      font-family: 'Hind', sans-serif;
      background-color: #E8F8F5;
  }

  .row-accom {
    width: 600px;
    height: 300 px;
    padding: 20px 40px 20px 40px;
    margin: 10px;
    font-family: 'Hind', sans-serif;
    background-color: #EBDEF0;
}

    .row-activ {
    width: 600px;
    height: 300 px;
    padding: 20px 40px 20px 40px;
    margin: 10px;
    font-family: 'Hind', sans-serif;
    background-color: #FCF3CF;
}

    .liverpool-map-container {
    width: 400px;
    justify-content: right;
}

    .footer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    align-items: center;
    align-content: space-between;
}

.twitter {
    margin-left:  36%;
    margin-right:  40px;
}

.facebook {
    margin-right:  40px;
}

.insta {
    margin-right:  40px;
}

.pinterest {
    margin-right:  40px;
}

.cfg {
    margin-right:  40px;
}

.row-deeqa {
    width: 600px;
    height: 300 px;
    padding: 20px 40px 20px 40px;
    margin-left: 25%;
    justify-content: center;
    font-family: 'Hind', sans-serif;
    background-color: #E8F8F5;
}

.row-sarah {
    width: 600px;
    height: 300 px;
    padding: 20px 40px 20px 40px;
    margin-left: 25%;
    justify-content: center;
    font-family: 'Hind', sans-serif;
    background-color: #EBDEF0
}

.row-cfg {
    width: 600px;
    height: 300 px;
    padding: 20px 40px 20px 40px;
   margin-left: 25%;
    justify-content: center;
    font-family: 'Hind', sans-serif;
    background-color: #FCF3CF;
}

.index-intro {
    font-size: 50px;
    text-align: center;
}