* {
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  button{
      background:#009688;
      width: 100px;
      border: none;
      outline: none;
      color: white;
      height: 35px;
      border-radius: 30px;
      margin-top: 20px;
      opacity: 1;
  }

  button:hover{
      opacity:0.5;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 50px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
